<div ng-controller="mailController as mail" ng-init="">

<form ng-submit="mail.sendMail()">
    <div class="row">
        <div class="col-sm-8 email-form">
            <button type="submit" class="btn btn-default">Send</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 email-form">
            <div class="email-form">
                <h2 class="email-form-title">Email Form</h2>
                <textarea ng-model="mail.email" rows="20" cols="80" 
                    placeholder="Dear <name>:" required>
                </textarea>
            </div>
        </div>
        <div class="col-sm-4 recipients">
            <div class="recipients">
                <h2 class="recipients-title">Recipients</h2>
                <textarea ng-model="mail.recipients" rows="20" cols="40"
                    placeholder="name:email@domain.org" required>
                </textarea>
            </div>
        </div>
    </div>
</form>